* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  padding: auto 2rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__title {
  color: #335576;
  font-size: 0.75rem;
}
.navigation__navbar--list {
  display: flex;
  justify-content: space-evenly;
}
.navigation__navbar--link {
  font-size: 0.75rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navigation__navbar--link > a {
  text-decoration: none;
}
.navigation__navbar--link > a:-webkit-any-link {
  color: black;
}
.navigation__navbar--link > a:-moz-any-link {
  color: black;
}
.navigation__navbar--link > a:any-link {
  color: black;
}
.navigation__navbar--link > a .current {
  border-bottom: #db7a4e;
}
.navigation__navbar--current {
  border-bottom: orange 2px solid;
  padding: 0.75rem 0;
}

.main--greece {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-image: url("../assets/images/greece.jpg");
}
.main--hawaii {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-image: url("../assets/images/hawaii.jpg");
}
.main--iceland {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  background-image: url("../assets/images/iceland.jpg");
}
.main__hero {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #fefaf5;
}
.main__hero-left {
  width: 44vw;
}
.main__hero__heading {
  color: #335576;
  padding: 1rem 0;
}
.main__hero__paragraph {
  color: #335576;
  padding: 1rem 0;
}
.main__hero-image {
  width: 30vw;
  height: auto;
}
.main__button {
  border-radius: 1.5625rem;
  background: #db7a4e;
  width: 150px;
  height: 30px;
  border: none;
  color: white;
}
.main__cards {
  padding: 1.25rem;
  width: 100vw;
}
.main__cards__heading-hero {
  color: #335576;
  padding: 1rem;
  font-size: 2rem;
}
.main__cards__heading {
  color: #ffff;
  letter-spacing: 0.25rem;
  padding: 2rem;
  font-size: 4rem;
}
.main__cards__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}
.main__cards--image-hawaii {
  position: relative;
  height: 18rem;
  width: 20vw;
  margin: 1.25rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  padding: 2rem 0;
  background-image: url("../../assets/Images/hawaii.jpg");
}
.main__cards--image-iceland {
  position: relative;
  height: 18rem;
  width: 20vw;
  margin: 1.25rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  padding: 2rem 0;
  background-image: url("../../assets/Images/iceland.jpg");
}
.main__cards--image-greece {
  position: relative;
  height: 18rem;
  width: 20vw;
  margin: 1.25rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  padding: 2rem 0;
  background-image: url("../../assets/Images/greece.jpg");
}
.main__cards--image--overlay-text {
  position: absolute;
  color: #fff;
  bottom: 0.5rem;
  right: 2.5rem;
}
.main__cards--itinerary {
  position: relative;
  height: 18rem;
  width: 20vw;
  margin: 1.25rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
  padding: 2rem 0;
}
.main__cards--itinerary--day {
  font-weight: 900;
  border-bottom: 2px solid;
  margin: 0 0.5rem;
  font-size: 1rem;
}
.main__cards--itinerary--activity {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #fff0ed;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
.footer__info {
  color: #db7a4e;
}
.footer__heading {
  padding: 1.25rem 0;
  color: #335576;
}
.footer--type {
  text-transform: uppercase;
  font-size: 10px;
  padding: 1.25rem 0;
}
.footer--type-text {
  padding-bottom: 2rem;
  color: #335576;
}
.footer--hours {
  display: flex;
}
.footer--hours-section {
  padding-right: 1.25rem;
}
.footer__icon {
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-evenly;
}
.footer__icon-img {
  margin-right: 1.25rem;
  min-height: 1.25rem;
  max-height: 1.25rem;
}/*# sourceMappingURL=styles.css.map */