@use "./partials/colors" as *;
@use "./partials/mixin" as *;

// TODO add partials to scss using @use command
//TODO adjust font sizes and family on _typography.scss partial
//TODO adjust colors on _colors.scss partial
* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	// border: purple 2px solid;
}
.navigation {
	padding: auto 2rem;
	margin: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__title {
		color: $clr-dark-moderate-blue;
		font-size: 0.75rem;
	}
	&__navbar {
		&--list {
			display: flex;
			justify-content: space-evenly;
		}
		&--link {
			font-size: 0.75rem;
			padding: 0 1rem;
			margin: 0 auto;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			& > a {
				text-decoration: none;
				&:any-link {
					color: black;
				}
				& .current {
					border-bottom: $soft-orange;
				}
			}
		}
		&--current {
			border-bottom: orange 2px solid;
			padding: 0.75rem 0;
		}
	}
}
.main {
	&--greece {
		@include hero-image;
		background-image: url("../assets/images/greece.jpg");
	}
	&--hawaii {
		@include hero-image;
		background-image: url("../assets/images/hawaii.jpg");
	}
	&--iceland {
		@include hero-image;
		background-image: url("../assets/images/iceland.jpg");
	}
	&__hero {
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		background-color: $clr-light-greyish-orange;
		&-left {
			width: 44vw;
		}
		&__heading {
			color: $clr-dark-moderate-blue;
			padding: 1rem 0;
		}
		&__paragraph {
			color: $clr-dark-moderate-blue;
			padding: 1rem 0;
		}
		&-right {
			// border: 2px solid;
		}
		&-image {
			width: 30vw;
			height: auto;
		}
	}
	&__button {
		border-radius: 1.5625rem;
		background: rgb(219, 122, 78);
		width: 150px;
		height: 30px;
		border: none;
		color: white;
	}
	&__cards {
		padding: 1.25rem;
		// border: 2px solid orange;
		width: 100vw;
		&__heading-hero {
			color: $clr-dark-moderate-blue;
			padding: 1rem;
			font-size: 2rem;
		}
		&__heading {
			color: $clr-white;
			letter-spacing: 0.25rem;
			padding: 2rem;
			font-size: 4rem;
		}
		&__section {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1.25rem;
		}
		&--image {
			&-hawaii {
				@include card-layout;
				background-image: url("../../assets/Images/hawaii.jpg");
			}
			&-iceland {
				@include card-layout;
				background-image: url("../../assets/Images/iceland.jpg");
			}
			&-greece {
				@include card-layout;
				background-image: url("../../assets/Images/greece.jpg");
			}
			// TODO fix overlay positioning, to bottom left
			&--overlay-text {
				position: absolute;
				color: #fff;
				bottom: 0.5rem;
				right: 2.5rem;
			}
		}
		&--itinerary {
			@include card-layout;

			&--day {
				font-weight: 900;
				border-bottom: 2px solid;
				margin: 0 0.5rem;
				// padding: 0 1rem;
				font-size: 1rem;
			}
			&--activity {
				padding: 0.5rem 1rem;
				margin: 1rem;
				background-color: #fff0ed;
			}
		}
	}
}
.footer {
	display: flex;
	justify-content: space-evenly;
	&__info {
		color: $soft-orange;
	}
	&__heading {
		padding: 1.25rem 0;
		color: $clr-dark-moderate-blue;
	}
	&--type {
		text-transform: uppercase;
		font-size: 10px;
		padding: 1.25rem 0;
		&-text {
			padding-bottom: 2rem;
			color: $clr-dark-moderate-blue;
		}
	}
	&--hours {
		display: flex;
		&-section {
			padding-right: 1.25rem;
		}
	}
	&__icon {
		padding: 1.25rem 0;
		display: flex;
		justify-content: space-evenly;
		&-img {
			margin-right: 1.25rem;
			min-height: 1.25rem;
			max-height: 1.25rem;
		}
	}
}
