$clr-nitro-pink: #fff0ed;
$clr-nitro-blue: #5bacc3;
$clr-graphite: #393939;
$clr-light-grey: #f7f7f7;
$clr-white: #ffff;
$clr-dark-moderate-blue: #335576;
$clr-light-greyish-orange: #fefaf5;
$soft-orange: #db7a4e;
